<body>
    <h1>Hello Rails!</h1>
    <p>this will eventually be the landing page for the video cover letter.</p>
    
    <h2>Videos</h2>
    <ul>
        <% @videos.each do |video| %>
        <li>
        <a href="<%= video_cover_letter_path(video)%>">
            <%= video.title %>
        </a>
        <%= link_to video.title, video%>
        <div><%= video.url %></div>
        </li>
        <% end %>
    </ul>
<body>
 