/*
* Sassy.
 */
html,
body {
    position: relative;
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link {
    background-color: lightpink;
}

.keeping-work-fun {
    background-color: lightgreen;
}

.testimonials {
    background-color: lightblue;
}